#cpu {
  position: absolute;
  top: 16px;
  left: 16px;
}

.module {
  padding: 2px;
}

.module .value {
  font-weight: bold;
  position: relative;
  top: -18px;
  left: 255px;
  margin-bottom: -18px;
}

.module .name {
  width: 250px;
  text-align: right;
  font-family: 'Courier New', Courier, monospace;
}
